<div style="padding: 50px;">
    <h4>
        Total count : {{c0}}
    </h4>
    <h4>
        Not completed tasks Count : {{c1}}
    </h4>
    <h4>
        In progress tasks count : {{c2}}
    </h4>
    <h4>
        Completed tasks count : {{c3}}
    </h4>
</div>