<h3 style="padding-top:10px; padding-left:10px">Create Task list</h3>
<form action="addList/submit" method="POST" style="padding:10px;">
    {{!-- <label for="task">Task: </label>
    <input type="text" name="task" id="taskid" value = "{{data.task}}">
    <label for="task">Description: </label>
    <input type="text" name="desc" id="descid" value = "{{data.desc}}">
    <br> --}}
    <div class="mb-3">
        <label for="task" class="form-label"Task:</label>
        <input type="text" class="form-control" name="task" placeholder="Enter your Task">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Description:</label>
        <input type="text" class="form-control" name="desc" placeholder="Enter a description">
    </div>

    <div>
        <input type="radio" name = "completion" value="notCompleted" required>
        <label for="comletion">Not completed</label>
        <input type="radio" name = "completion" value="inProgress">
        <label for="comletion">In progress</label>
        <input type="radio" name = "completion" value="completed">
        <label for="comletion">Completed</label>
        
    </div>
    <input type="submit" value = "Submit">
</form>