<div style="padding-left:50px;">
    <h1>Available APIs</h1>
    <p>to get tasks list ->
    <h4>/user/getTaskList</h4>
    </p>
    <p>to add tasks to list ->
    <h4>/user/addList</h4>
    </p>
    <p>to get tasks count ->
    <h4>/user/taskCounts</h4>
    </p>
</div>